.all{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 600px;
    height: 770px;
    margin: auto;
    border: 1px solid rgb(15, 15, 227);
    border-radius: 5px;
    position: relative;
    display: block;
    margin: 0 auto;
}
.info{
    border-top: 1px solid #19737b;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.name {
    display: flex;
    margin: 20px 15px 5px 15px;
    gap: 20px;
}

.name input {
    width: calc(100%);
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #F0F3FF;
    padding-left: 15px;
    gap: 25px;
}
#phone, #password{
    width: calc(100% - 45px);
    margin: 5px 15px;
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #F0F3FF;
    padding-left: 10px;
}

.birthday{
    display: flex;
    gap: 10px;

}

.birthday select{
    padding: 15px;
    font-size: 20px;
    width: 33%;
    margin: 0 15px;
    border-radius: 5px;
}
.gender{
    display: flex;
    gap: 15px;
    margin: 0 5px;
}
.gender span{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0 10px;
    font-size: 25px;
    width: 33%;
    border: 1px solid;
    border-radius: 5px;
    align-items: center;
}

.gender span input{
    width: 20px;
    height: 20px;
}

button{
    display: block;
    margin: 0 auto;
    justify-items: center;
    background-color: green;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    font-size: 35px;
    color: white;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.question, .question1{
    display: none;
    margin: 0 15px 5px 15px;
    border: 1px solid rgb(90, 90, 175);
    border-radius: 5px;

}

.show{
    display: block;
}
p{
    padding: 5px;
    margin: 5px;
}
.first_name, .surname, .phone, .password .birthday{
    position: relative;
}

.error_firstname {
    display: none;
    position: absolute;
    margin-top: -80px; 
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #ece1df;
    color: red;
    z-index: 2;
}

.error_surname {
    display: none;
    position: absolute;
    margin-top: -80px; 
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #ece1df;
    color: red;
    z-index: 2;
}
.error_phone{
    display: none;
    position: absolute;
    margin-top: -80px; 
    margin-left: 15px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #ece1df;
    color: red;
    z-index: 2;
}
.error_password{
    display: none;
    position: absolute;
    margin-top: -90px; 
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #ece1df;
    color: red;
    z-index: 2;
}
.error_day{
    display: none;
    position: absolute;
    margin-top: -90px; 
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #ece1df;
    color: red;
    z-index: 2;
}
